# import libraries and read csv

In [1]:
import pandas as pd
# writer = pd.ExcelWriter('dataframes.xlsx', engine='xlsxwriter')

In [2]:
DataCoSupplyChainDataset = pd.read_csv("DataCoSupplyChainDataset.csv", encoding='latin1')
DescriptionDataCoSupplyChain = pd.read_csv("DescriptionDataCoSupplyChain.csv")

In [3]:
DescriptionDataCoSupplyChain

,FIELDS,DESCRIPTION
0,Type,: Type of transaction made
1,Days for shipping (real),: Actual shipping days of the purchased product
2,Days for shipment (scheduled),: Days of scheduled delivery of the purchased...
3,Benefit per order,: Earnings per order placed
4,Sales per customer,: Total sales per customer made per customer
5,Delivery Status,: Delivery status of orders: Advance shipping...
6,Late_delivery_risk,: Categorical variable that indicates if send...
7,Category Id,: Product category code
8,Category Name,: Description of the product category
9,Customer City,: City where the customer made the purchase
10,Customer Country,: Country where the customer made the purchase
11,Customer Email,: Customer's email
12,Customer Fname,: Customer name
13,Customer Id,: Customer ID
14,Customer Lname,: Customer lastname
15,Customer Password,: Masked customer key
16,Customer Segment,": Types of Customers: Consumer , Corporate , ..."
17,Customer State,: State to which the store where the purchase...
18,Customer Street,: Street to which the store where the purchas...
19,Customer Zipcode,: Customer Zipcode
20,Department Id,: Department code of store
21,Department Name,: Department name of store
22,Latitude,: Latitude corresponding to location of store
23,Longitude,: Longitude corresponding to location of store
24,Market,: Market to where the order is delivered : Af...
25,Order City,: Destination city of the order
26,Order Country,: Destination country of the order
27,Order Customer Id,: Customer order code
28,order date (DateOrders),: Date on which the order is made
29,Order Id,: Order code
30,Order Item Cardprod Id,: Product code generated through the RFID reader
31,Order Item Discount,: Order item discount value
32,Order Item Discount Rate,: Order item discount percentage
33,Order Item Id,: Order item code
34,Order Item Product Price,: Price of products without discount
35,Order Item Profit Ratio,: Order Item Profit Ratio
36,Order Item Quantity,: Number of products per order
37,Sales,: Value in sales
38,Order Item Total,: Total amount per order
39,Order Profit Per Order,: Order Profit Per Order
40,Order Region,: Region of the world where the order is deli...
41,Order State,: State of the region where the order is deli...
42,Order Status,": Order Status : COMPLETE , PENDING , CLOSED ..."
43,Product Card Id,: Product code
44,Product Category Id,: Product category code
45,Product Description,: Product Description
46,Product Image,: Link of visit and purchase of the product
47,Product Name,: Product Name
48,Product Price,: Product Price
49,Product Status,: Status of the product stock :If it is 1 not...
50,Shipping date (DateOrders),: Exact date and time of shipment
51,Shipping Mode,: The following shipping modes are presented ...

In [4]:
DataCoSupplyChainDataset['Department Name'].drop_duplicates()

0                  Fitness
48                 Apparel
49                    Golf
55                Footwear
61                Outdoors
118               Fan Shop
145             Technology
1360             Book Shop
1585            Discs Shop
3205              Pet Shop
3208    Health and Beauty
Name: Department Name, dtype: object

In [5]:
DataCoSupplyChainDataset[DataCoSupplyChainDataset['Department Name'] == 'Footwear'][['Category Id', 'Category Name']].drop_duplicates()

     Category Id        Category Name
55            13          Electronics
56            12         Boxing & MMA
59             9     Cardio Equipment
301           11  Fitness Accessories
316           16      As Seen on  TV!
547           10    Strength Training

In [6]:
DescriptionDataCoSupplyChain

,FIELDS,DESCRIPTION
0,Type,: Type of transaction made
1,Days for shipping (real),: Actual shipping days of the purchased product
2,Days for shipment (scheduled),: Days of scheduled delivery of the purchased...
3,Benefit per order,: Earnings per order placed
4,Sales per customer,: Total sales per customer made per customer
5,Delivery Status,: Delivery status of orders: Advance shipping...
6,Late_delivery_risk,: Categorical variable that indicates if send...
7,Category Id,: Product category code
8,Category Name,: Description of the product category
9,Customer City,: City where the customer made the purchase
10,Customer Country,: Country where the customer made the purchase
11,Customer Email,: Customer's email
12,Customer Fname,: Customer name
13,Customer Id,: Customer ID
14,Customer Lname,: Customer lastname
15,Customer Password,: Masked customer key
16,Customer Segment,": Types of Customers: Consumer , Corporate , ..."
17,Customer State,: State to which the store where the purchase...
18,Customer Street,: Street to which the store where the purchas...
19,Customer Zipcode,: Customer Zipcode
20,Department Id,: Department code of store
21,Department Name,: Department name of store
22,Latitude,: Latitude corresponding to location of store
23,Longitude,: Longitude corresponding to location of store
24,Market,: Market to where the order is delivered : Af...
25,Order City,: Destination city of the order
26,Order Country,: Destination country of the order
27,Order Customer Id,: Customer order code
28,order date (DateOrders),: Date on which the order is made
29,Order Id,: Order code
30,Order Item Cardprod Id,: Product code generated through the RFID reader
31,Order Item Discount,: Order item discount value
32,Order Item Discount Rate,: Order item discount percentage
33,Order Item Id,: Order item code
34,Order Item Product Price,: Price of products without discount
35,Order Item Profit Ratio,: Order Item Profit Ratio
36,Order Item Quantity,: Number of products per order
37,Sales,: Value in sales
38,Order Item Total,: Total amount per order
39,Order Profit Per Order,: Order Profit Per Order
40,Order Region,: Region of the world where the order is deli...
41,Order State,: State of the region where the order is deli...
42,Order Status,": Order Status : COMPLETE , PENDING , CLOSED ..."
43,Product Card Id,: Product code
44,Product Category Id,: Product category code
45,Product Description,: Product Description
46,Product Image,: Link of visit and purchase of the product
47,Product Name,: Product Name
48,Product Price,: Product Price
49,Product Status,: Status of the product stock :If it is 1 not...
50,Shipping date (DateOrders),: Exact date and time of shipment
51,Shipping Mode,: The following shipping modes are presented ...

In [7]:
DataCoSupplyChainDataset.head(5)

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 11:24,Standard Class

# Drop duplicate and n/a columns

In [8]:
print("origin height: " + str(DataCoSupplyChainDataset.shape) + " -- Drop duplicate: " + str(DataCoSupplyChainDataset.drop_duplicates().shape))

origin height: (180519, 53) -- Drop duplicate: (180519, 53)

In [9]:
DataCoSupplyChainDataset.isna().sum().sum()

336209

In [10]:
DataCoSupplyChainDataset.drop(columns=['Product Description', 'Order Zipcode', 'Customer Zipcode'], axis=1, inplace=True)
DataCoSupplyChainDataset.dropna()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order State,Order Status,Product Card Id,Product Category Id,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,Java Occidental,COMPLETE,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,Rajastán,PENDING,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,Rajastán,CLOSED,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,Queensland,COMPLETE,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,Queensland,PENDING_PAYMENT,1360,73,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/15/2018 11:24,Standard Class
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180514,CASH,4,4,40.000000,399.980011,Shipping on time,0,45,Fishing,Brooklyn,...,Shanghái,CLOSED,1004,45,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/20/2016 3:40,Standard Class
180515,DEBIT,3,2,-613.770019,395.980011,Late delivery,1,45,Fishing,Bakersfield,...,Osaka,COMPLETE,1004,45,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/19/2016 1:34,Second Class
180516,TRANSFER,5,4,141.110001,391.980011,Late delivery,1,45,Fishing,Bristol,...,Australia del Sur,PENDING,1004,45,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/20/2016 21:00,Standard Class
180517,PAYMENT,3,4,186.229996,387.980011,Advance shipping,0,45,Fishing,Caguas,...,Australia del Sur,PENDING_PAYMENT,1004,45,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/18/2016 20:18,Standard Class
180518,PAYMENT,4,4,168.949997,383.980011,Shipping on time,0,45,Fishing,Caguas,...,Tamil Nadu,PENDING_PAYMENT,1004,45,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/19/2016 18:54,Standard Class

In [11]:
DataCoSupplyChainDataset.isna().sum()

Type                             0
Days for shipping (real)         0
Days for shipment (scheduled)    0
Benefit per order                0
Sales per customer               0
Delivery Status                  0
Late_delivery_risk               0
Category Id                      0
Category Name                    0
Customer City                    0
Customer Country                 0
Customer Email                   0
Customer Fname                   0
Customer Id                      0
Customer Lname                   8
Customer Password                0
Customer Segment                 0
Customer State                   0
Customer Street                  0
Department Id                    0
Department Name                  0
Latitude                         0
Longitude                        0
Market                           0
Order City                       0
Order Country                    0
Order Customer Id                0
order date (DateOrders)          0
Order Id                         0
Order Item Cardprod Id           0
Order Item Discount              0
Order Item Discount Rate         0
Order Item Id                    0
Order Item Product Price         0
Order Item Profit Ratio          0
Order Item Quantity              0
Sales                            0
Order Item Total                 0
Order Profit Per Order           0
Order Region                     0
Order State                      0
Order Status                     0
Product Card Id                  0
Product Category Id              0
Product Image                    0
Product Name                     0
Product Price                    0
Product Status                   0
shipping date (DateOrders)       0
Shipping Mode                    0
dtype: int64

# Generate ID for location, time, 'Order Status','Type', 'Shipping Mode','Delivery Status',

In [12]:
# Make a copy of the DataFrame
TempData = DataCoSupplyChainDataset.copy()

# Drop duplicates from TempData
TempData.drop_duplicates(inplace=True)

# Reset index after dropping duplicates in TempData
TempData.reset_index(drop=True, inplace=True)

# Add an ID for each unique combination of location columns in DataCoSupplyChainDataset
DataCoSupplyChainDataset['Location Id'] = TempData.groupby(['Market', 'Order City', 'Order Country', 'Order Region', 'Order State']).ngroup() + 1

In [13]:
DataCoSupplyChainDataset['shipping date (DateOrders)']

0          2/3/2018 22:56
1         1/18/2018 12:27
2         1/17/2018 12:06
3         1/16/2018 11:45
4         1/15/2018 11:24
               ...
180514     1/20/2016 3:40
180515     1/19/2016 1:34
180516    1/20/2016 21:00
180517    1/18/2016 20:18
180518    1/19/2016 18:54
Name: shipping date (DateOrders), Length: 180519, dtype: object

In [14]:
# Make a copy of the DataFrame
TempData = DataCoSupplyChainDataset.copy()

# Drop duplicates from TempData
TempData['shipping date (DateOrders)'].drop_duplicates()

# Reset index after dropping duplicates in TempData
TempData.reset_index(drop=True, inplace=True)

# Add an ID for each unique combination of location columns in DataCoSupplyChainDataset
DataCoSupplyChainDataset['Time Id'] = TempData.groupby(['shipping date (DateOrders)']).ngroup() + 1

In [15]:
# Make a copy of the DataFrame
TempData = DataCoSupplyChainDataset.copy()

# Drop duplicates from TempData
TempData['Order Status'].drop_duplicates()

# Reset index after dropping duplicates in TempData
TempData.reset_index(drop=True, inplace=True)

# Add an ID for each unique combination of location columns in DataCoSupplyChainDataset
DataCoSupplyChainDataset['Order Status Id'] = TempData.groupby(['Order Status']).ngroup() + 1

In [16]:
# Make a copy of the DataFrame
TempData = DataCoSupplyChainDataset.copy()

# Drop duplicates from TempData
TempData['Type'].drop_duplicates()

# Reset index after dropping duplicates in TempData
TempData.reset_index(drop=True, inplace=True)

# Add an ID for each unique combination of location columns in DataCoSupplyChainDataset
DataCoSupplyChainDataset['Type Id'] = TempData.groupby(['Type']).ngroup() + 1

In [17]:
# Make a copy of the DataFrame
TempData = DataCoSupplyChainDataset.copy()

# Drop duplicates from TempData
TempData['Shipping Mode'].drop_duplicates()

# Reset index after dropping duplicates in TempData
TempData.reset_index(drop=True, inplace=True)

# Add an ID for each unique combination of location columns in DataCoSupplyChainDataset
DataCoSupplyChainDataset['Shipping Mode Id'] = TempData.groupby(['Shipping Mode']).ngroup() + 1

In [18]:
# Make a copy of the DataFrame
TempData = DataCoSupplyChainDataset.copy()

# Drop duplicates from TempData
TempData['Delivery Status'].drop_duplicates()

# Reset index after dropping duplicates in TempData
TempData.reset_index(drop=True, inplace=True)

# Add an ID for each unique combination of location columns in DataCoSupplyChainDataset
DataCoSupplyChainDataset['Delivery Status Id'] = TempData.groupby(['Delivery Status']).ngroup() + 1

# preprocess table SSIS

In [19]:
# List of customer-related columns
customer_columns = ['Customer Id', 'Customer Fname', 'Customer Lname']

# Create a new DataFrame containing only customer-related columns and drop duplicates
dim_customers = DataCoSupplyChainDataset[customer_columns].drop_duplicates()

# Reset index after dropping duplicates
dim_customers.reset_index(drop=True, inplace=True)

# Update the DataFrame (if needed)

# Sort dim_customers DataFrame based on 'Customer Id'
dim_customers_sorted = dim_customers.sort_values(by='Customer Id')

# Reset index after sorting
dim_customers_sorted.reset_index(drop=True, inplace=True)

In [20]:
# List of product-related columns
category_columns = ['Category Id',  'Category Name']

# Create a new DataFrame containing only product-related columns and drop duplicates
dim_categories = DataCoSupplyChainDataset[category_columns].drop_duplicates()

# Reset index after dropping duplicates
dim_categories.reset_index(drop=True, inplace=True)

# Sort dim_products DataFrame based on 'Product Card Id'
dim_categories_sorted = dim_categories.sort_values(by='Category Id')

# Reset index after sorting
dim_categories_sorted.reset_index(drop=True, inplace=True)

In [21]:
# List of product-related columns
product_columns = ['Product Card Id', 'Product Name', 'Product Price', 'Category Id']

# Create a new DataFrame containing only product-related columns and drop duplicates
dim_products = DataCoSupplyChainDataset[product_columns].drop_duplicates()

# Reset index after dropping duplicates
dim_products.reset_index(drop=True, inplace=True)

# Sort dim_products DataFrame based on 'Product Card Id'
dim_products_sorted = dim_products.sort_values(by='Product Card Id')

# Reset index after sorting
dim_products_sorted.reset_index(drop=True, inplace=True)

In [22]:
# List of location-related columns
location_columns = ['Location Id', 'Market', 'Order City', 'Order Country', 'Order Region', 'Order State']

# Create a new DataFrame containing only location-related columns and drop duplicates
dim_locations = DataCoSupplyChainDataset[location_columns].drop_duplicates()

# Reset index after dropping duplicates
dim_locations.reset_index(drop=True, inplace=True)

# Sort dim_locations DataFrame based on 'Location Id'
dim_locations_sorted = dim_locations.sort_values(by='Location Id')

# Reset index after sorting
dim_locations_sorted.reset_index(drop=True, inplace=True)

In [23]:
# List of time-related columns
time_columns = ['Time Id', 'shipping date (DateOrders)']

# Create a new DataFrame containing only time-related columns and drop duplicates
dim_times = DataCoSupplyChainDataset[time_columns].drop_duplicates()

# Reset index after dropping duplicates
dim_times.reset_index(drop=True, inplace=True)

# Sort dim_times DataFrame based on 'Time Id'
dim_times_sorted = dim_times.sort_values(by='Time Id')

# Reset index after sorting
dim_times_sorted.reset_index(drop=True, inplace=True)

dim_times_sorted['shipping date (DateOrders)'] = pd.to_datetime(dim_times_sorted['shipping date (DateOrders)'])

# Add a new column for the day of the week
dim_times_sorted['day of week'] = dim_times_sorted['shipping date (DateOrders)'].dt.day_name()

In [24]:
# List of time-related columns
order_status_columns = ['Order Status Id', 'Order Status']

# Create a new DataFrame containing only time-related columns and drop duplicates
order_statuses = DataCoSupplyChainDataset[order_status_columns].drop_duplicates()

# Reset index after dropping duplicates
order_statuses.reset_index(drop=True, inplace=True)

# Sort order_statuses DataFrame based on 'Order Status Id'
dim_order_statuses_sorted = order_statuses.sort_values(by='Order Status Id')

# Reset index after sorting
dim_order_statuses_sorted.reset_index(drop=True, inplace=True)

In [25]:
# List of time-related columns
type_columns = ['Type Id', 'Type']

# Create a new DataFrame containing only time-related columns and drop duplicates
types = DataCoSupplyChainDataset[type_columns].drop_duplicates()

# Reset index after dropping duplicates
types.reset_index(drop=True, inplace=True)

# Sort order_statuses DataFrame based on 'Type Id'
dim_types_sorted = types.sort_values(by='Type Id')

# Reset index after sorting
dim_types_sorted.reset_index(drop=True, inplace=True)

In [26]:
# List of time-related columns
shipping_mode_columns = ['Shipping Mode Id', 'Shipping Mode']

# Create a new DataFrame containing only time-related columns and drop duplicates
shipping_modes = DataCoSupplyChainDataset[shipping_mode_columns].drop_duplicates()

# Reset index after dropping duplicates
shipping_modes.reset_index(drop=True, inplace=True)

# Sort order_statuses DataFrame based on 'Type Id'
dim_shipping_modes_sorted = shipping_modes.sort_values(by='Shipping Mode Id')

# Reset index after sorting
dim_shipping_modes_sorted.reset_index(drop=True, inplace=True)

In [27]:
# List of time-related columns
delivery_status_columns = ['Delivery Status Id', 'Delivery Status']

# Create a new DataFrame containing only time-related columns and drop duplicates
delivery_statuses = DataCoSupplyChainDataset[delivery_status_columns].drop_duplicates()

# Reset index after dropping duplicates
delivery_statuses.reset_index(drop=True, inplace=True)

# Sort order_statuses DataFrame based on 'Delivery Status'
dim_delivery_statuses_sorted = delivery_statuses.sort_values(by='Delivery Status Id')

# Reset index after sorting
dim_delivery_statuses_sorted.reset_index(drop=True, inplace=True)

In [28]:
DataCoSupplyChainDataset.columns

Index(['Type', 'Days for shipping (real)', 'Days for shipment (scheduled)',
       'Benefit per order', 'Sales per customer', 'Delivery Status',
       'Late_delivery_risk', 'Category Id', 'Category Name', 'Customer City',
       'Customer Country', 'Customer Email', 'Customer Fname', 'Customer Id',
       'Customer Lname', 'Customer Password', 'Customer Segment',
       'Customer State', 'Customer Street', 'Department Id', 'Department Name',
       'Latitude', 'Longitude', 'Market', 'Order City', 'Order Country',
       'Order Customer Id', 'order date (DateOrders)', 'Order Id',
       'Order Item Cardprod Id', 'Order Item Discount',
       'Order Item Discount Rate', 'Order Item Id', 'Order Item Product Price',
       'Order Item Profit Ratio', 'Order Item Quantity', 'Sales',
       'Order Item Total', 'Order Profit Per Order', 'Order Region',
       'Order State', 'Order Status', 'Product Card Id', 'Product Category Id',
       'Product Image', 'Product Name', 'Product Price', 'Product Status',
       'shipping date (DateOrders)', 'Shipping Mode', 'Location Id', 'Time Id',
       'Order Status Id', 'Type Id', 'Shipping Mode Id', 'Delivery Status Id'],
      dtype='object')

In [29]:
DataCoSupplyChainDataset[['Order Id','Order Item Id','Order Item Quantity','Product Price',
                          'Order Item Discount Rate',
                          'Order Profit Per Order','Benefit per order','Order Item Profit Ratio', 
                          'Sales per customer', 'Order Item Total', 'Sales'
                        ]].sort_values(by='Order Id').head(20)

,Order Id,Order Item Id,Order Item Quantity,Product Price,Order Item Discount Rate,Order Profit Per Order,Benefit per order,Order Item Profit Ratio,Sales per customer,Order Item Total,Sales
33833,1,1,1,299.980011,0.20,88.790001,88.790001,0.37,239.979996,239.979996,299.980011
77011,2,2,1,199.990005,0.03,91.180000,91.180000,0.47,193.990005,193.990005,199.990005
109322,2,3,5,50.000000,0.09,68.250000,68.250000,0.30,227.500000,227.500000,250.000000
87884,2,4,1,129.990005,0.17,36.470001,36.470001,0.34,107.889999,107.889999,129.990005
114915,4,8,4,49.980000,0.20,33.590000,33.590000,0.21,159.940002,159.940002,199.919998
95938,4,7,3,50.000000,0.18,60.270000,60.270000,0.49,123.000000,123.000000,150.000000
63764,4,5,2,24.990000,0.18,4.100000,4.100000,0.10,40.980000,40.980000,49.980000
96131,4,6,5,59.990002,0.01,26.129999,26.129999,0.09,296.950012,296.950012,299.950012
114914,5,11,2,49.980000,0.17,9.380000,9.380000,0.11,82.970001,82.970001,99.959999
58046,5,10,5,59.990002,0.00,143.979996,143.979996,0.48,299.950012,299.950012,299.950012
20680,5,12,1,299.980011,0.17,109.550003,109.550003,0.44,248.979996,248.979996,299.980011
20695,5,9,1,299.980011,0.18,92.239998,92.239998,0.38,245.979996,245.979996,299.980011
20305,5,13,1,129.990005,0.16,34.939999,34.939999,0.32,109.190002,109.190002,129.990005
64753,7,15,1,299.980011,0.16,120.949997,120.949997,0.48,251.979996,251.979996,299.980011
81543,7,16,5,15.990000,0.03,4.580000,4.580000,0.06,77.550003,77.550003,79.949997
77010,7,14,1,199.990005,0.02,78.400002,78.400002,0.40,195.990005,195.990005,199.990005
140014,8,18,5,59.990002,0.25,73.110001,73.110001,0.33,224.960007,224.960007,299.950012
114913,8,19,4,49.980000,0.18,-131.149994,-131.149994,-0.80,163.929993,163.929993,199.919998
123982,8,20,1,50.000000,0.01,1.490000,1.490000,0.03,49.500000,49.500000,50.000000
139424,8,17,3,59.990002,0.17,16.879999,16.879999,0.11,149.380005,149.380005,179.970001

In [30]:
fact_order_item_columns = ['Order Item Id',
                        
                            'Location Id', 'Time Id',
                            'Product Card Id', 'Customer Id',
                            'Order Status Id','Type Id', 'Shipping Mode Id','Delivery Status Id',
                           
                           'Days for shipping (real)', 'Days for shipment (scheduled)', 
                      
                           'Order Item Quantity', 'Order Item Discount Rate','Order Item Profit Ratio',
                           'Order Item Total', 'Benefit per order'
                           ]

fact_order_items = DataCoSupplyChainDataset[fact_order_item_columns]

In [31]:
# Check the number of rows in each DataFrame
print("Number of rows in dim_customers:", dim_customers_sorted.shape[0])
print("Number of rows in dim_locations:", dim_locations_sorted.shape[0])
print("Number of rows in dim_times:", dim_times_sorted.shape[0])
print("Number of rows in dim_types_sorted:", dim_types_sorted.shape[0])
print("Number of rows in dim_orders_status:", dim_order_statuses_sorted.shape[0])
print("Number of rows in dim_shipping_modes_sorted:", dim_shipping_modes_sorted.shape[0])
print("Number of rows in dim_categories_sorted:", dim_categories_sorted.shape[0])
print("Number of rows in dim_products_sorted:", dim_products_sorted.shape[0])
print("Number of rows in fact_order_item_columns:", fact_order_items.shape[0])

Number of rows in dim_customers: 20652
Number of rows in dim_locations: 3772
Number of rows in dim_times: 63701
Number of rows in dim_types_sorted: 4
Number of rows in dim_orders_status: 9
Number of rows in dim_shipping_modes_sorted: 4
Number of rows in dim_categories_sorted: 51
Number of rows in dim_products_sorted: 118
Number of rows in fact_order_item_columns: 180519

In [32]:
# Check for missing values in each DataFrame
print("Missing values in dim_customers:", dim_customers_sorted.isna().sum())
print("Missing values in dim_products:", dim_products_sorted.isna().sum())
print("Missing values in dim_locations:", dim_locations_sorted.isna().sum())
print("Missing values in dim_times:", dim_times_sorted.isna().sum())
print("Missing values in dim_types_sorted:", dim_types_sorted.isna().sum())
print("Missing values in dim_orders_status:", dim_order_statuses_sorted.isna().sum())
print("Missing values in dim_shipping_modes_sorted:", dim_shipping_modes_sorted.isna().sum())
print("Missing values in dim_categories_sorted:", dim_categories_sorted.isna().sum())
print("Missing values in fact_order_item_columns:", fact_order_items.isna().sum())

Missing values in dim_customers: Customer Id       0
Customer Fname    0
Customer Lname    8
dtype: int64
Missing values in dim_products: Product Card Id    0
Product Name       0
Product Price      0
Category Id        0
dtype: int64
Missing values in dim_locations: Location Id      0
Market           0
Order City       0
Order Country    0
Order Region     0
Order State      0
dtype: int64
Missing values in dim_times: Time Id                       0
shipping date (DateOrders)    0
day of week                   0
dtype: int64
Missing values in dim_types_sorted: Type Id    0
Type       0
dtype: int64
Missing values in dim_orders_status: Order Status Id    0
Order Status       0
dtype: int64
Missing values in dim_shipping_modes_sorted: Shipping Mode Id    0
Shipping Mode       0
dtype: int64
Missing values in dim_categories_sorted: Category Id      0
Category Name    0
dtype: int64
Missing values in fact_order_item_columns: Order Item Id                    0
Location Id                      0
Time Id                          0
Product Card Id                  0
Customer Id                      0
Order Status Id                  0
Type Id                          0
Shipping Mode Id                 0
Delivery Status Id               0
Days for shipping (real)         0
Days for shipment (scheduled)    0
Order Item Quantity              0
Order Item Discount Rate         0
Order Item Profit Ratio          0
Order Item Total                 0
Benefit per order                0
dtype: int64

In [33]:
# # Specify the full path along with the file name
# file_path = 'Preprocessed_DataCoSupplyChainDataset.xlsx'

# # Write each DataFrame to a separate worksheet
# with pd.ExcelWriter(file_path, engine='xlsxwriter') as writer:
#     dim_customers_sorted.to_excel(writer, sheet_name='dim_customers', index=False)
#     dim_products_sorted.to_excel(writer, sheet_name='dim_products', index=False)
#     dim_categories_sorted.to_excel(writer, sheet_name='dim_categories', index=False)
#     dim_locations_sorted.to_excel(writer, sheet_name='dim_locations', index=False)
#     dim_times_sorted.to_excel(writer, sheet_name='dim_times', index=False)
#     dim_order_statuses_sorted.to_excel(writer, sheet_name='dim_order_statuses', index=False)
#     dim_types_sorted.to_excel(writer, sheet_name='dim_types', index=False)
#     dim_shipping_modes_sorted.to_excel(writer, sheet_name='dim_shipping_modes', index=False)
#     dim_delivery_statuses_sorted.to_excel(writer, sheet_name=' dim_delivery_statuses', index=False)
#     fact_order_items.to_excel(writer, sheet_name='fact_order_items', index=False)

# print(f"DataFrames saved to '{file_path}' successfully.")

In [34]:
dim_locations_sorted

,Location Id,Market,Order City,Order Country,Order Region,Order State
0,1,Africa,Aba,Nigeria,West Africa,Abia
1,2,Africa,Abakaliki,Nigeria,West Africa,Ebonyi
2,3,Africa,Abeokuta,Nigeria,West Africa,Ogun
3,4,Africa,Abidjan,Costa de Marfil,West Africa,Lagunes
4,5,Africa,Abu Kabir,Egipto,North Africa,Ash Sharqiyah
...,...,...,...,...,...,...
3767,3768,USCA,Woonsocket,Estados Unidos,East of USA,Rhode Island
3768,3769,USCA,Yonkers,Estados Unidos,East of USA,Nueva York
3769,3770,USCA,York,Estados Unidos,East of USA,Pensilvania
3770,3771,USCA,Yucaipa,Estados Unidos,West of USA,California
3771,3772,USCA,Yuma,Estados Unidos,West of USA,Arizona